html {
    
}

.topbar {
    list-style-type: none;
    margin-bottom: 2em;
    padding: 0;
    overflow: hidden;
    background-color: darkslateblue;
}

li {
    float: left;
}

li a.top {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1, h2{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: black;
    width: 120px;
    text-decoration: none;
    
}

a:hover {
    background-color: gray;
    color: white;
}

/* Create two equal columns that floats on the sides */
.column1{
    float: left;
    width: 70%;
}

/* Create a column that floats in the middle */
.column2{
    float: left;
    width: 30%;
}

@media (max-width: 600px) {
    .column1, .column2{
        width: 100%;
    }
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    width: 120px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn:hover {
    background-color: gray;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

.show {
    display: block;
}
